<h4><i class="fa fa-filter"></i> Filters</h4>
<hr />

<div class="d-flex flex-column gap-3">
  <span>Price</span>
  <div class="d-flex gap-2">
    <input
      id="priceFrom"
      type="number"
      class="form-control"
      placeholder="From"
      [value]="params?.priceFrom || ''"
      (change)="priceRangeUpdate($event)"
    />
    <input
      id="priceTo"
      type="number"
      class="form-control"
      placeholder="To"
      [value]="params?.priceTo || ''"
      (change)="priceRangeUpdate($event)"
    />
  </div>

  <span>Category</span>
  <ng-container *ngIf="categories$ | async as categories">
    <app-dropdown
      [options]="categories"
      [selected]="params?.category"
      (onSelect)="categoryUpdate($event)"
    ></app-dropdown>
  </ng-container>
</div>
