<div class="container pt-5 pb-3 h-100">
  <div class="row h-100">
    <div class="col-3">
      <app-filters
        [params]="params"
        (filtersUpdated)="updateRoute($event)"
      ></app-filters>
    </div>

    <div class="col-9 d-flex flex-column justify-content-between">
      <div *ngIf="products$ | async as products" class="row">
        <h2 *ngIf="!products.length" class="text-center">
          No products were found.
        </h2>

        <div class="col-4 px-3 pb-3" *ngFor="let product of products">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>

      <ng-container *ngIf="totalItems$ | async as totalItems">
        <pagination
          *ngIf="totalItems > pageSize"
          [totalItems]="totalItems"
          [itemsPerPage]="pageSize"
          [(ngModel)]="currentPage"
          (pageChanged)="updateRoute({ pageNumber: $event.page })"
        ></pagination>
      </ng-container>
    </div>
  </div>
</div>
